.wrapper {
    margin: 20px;
    width: 400px;
}

.innerWrapper {
    padding: 10px;
}

.graphContainer {
    height: 400px;
    width: 840px;
    margin: 20px;
    margin-bottom: 0px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.graphRowChildren {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3px;
    margin-left: 26px;
    margin-bottom: 0px;
    height: 23px;
}

.acText {
    font-size: 13px;
    font-style: italic;
    margin-top: 0px;
}

.acLabel {
    position: absolute;
    font-size: 12px;
    margin-left: 3px;
    margin-top: 1px;
    font-weight: 700;
}

.labelName {
    display: inline;
}

.numberListLabel {
    margin: 0px;
    margin-top: 1px;
}

.inputNumber {
    width: 45px;
}

.inputNumberSmall {
    width: 42px;
}

.labelContainer {
    flex-direction: row;
    width: 200px;
}

.inputContainer {
    display: flex;
    flex-direction: 'row';
    margin-top: 5px;
}

.attackChoiceContainer {
    display: flex;
    flex-direction: 'row';
    margin-top: 5px;
    margin-bottom: 10px;
}

.buttonCheckboxWrapper{
    display: flex;
    flex-direction: row;
}

label {
    background: #eeeeee;
    border-color: rgb(109, 108, 108, 0.6);
    border-width: 1px;
    border-style: solid;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    font-size: 12px;
    margin-left: 3px;
    font-weight: 600;
    color: rgba(66, 66, 66, 0.6);
    display: flex;
}

.labelChecked {
    background: #3ce63c;
    color: rgba(8, 8, 8, 1);
}

.visually-hidden {
    position: absolute;
    left: -100vw;
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}

.mapLabel {
    height: 18px;
    margin-left: 5px;
    font-style: italic;
    font-size: 14px;
}

.labelSmall {
    font-size: 14px;
}

.attackChoiceSelect {
    margin-top: 3px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.exclamationImage {
    margin-left: 5px;
}

.classInfoWrapper {
    margin-left: 10px;
}

.enemyAcModWrapper {
    margin-left: 20px;
    margin-Right: 20px;
    margin-top: 10px;
}

.enemyAcModInnerWrapper {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.enemyACModlabelContainer {
    flex-direction: row;
    margin-right: 10px;
}

.enemyACModDescriptionContainer {
    margin-left: 10px;
    font-style: italic;
    font-size: 14px;
}

.enemyACdropdownContainer {
    margin-right: 10px;
}

.propertyRuneSelect {
    font-size: 10px;
}
