.pcWrapper {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 400px;
}

.innerPCWrapper {
    padding: 10px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.label {
    margin: 0px;
}

.formLevelLabel {
    margin-right: 5px;
    margin-top: 2px;
}

.quarterElement {
    width: 90px;
    height: 60px;
}

.twoFifthElement {
    width: 105px;
    height: 60px;
}

.oneFifthElement {
    width: 80px;
}

.formElementContainer {
    width: 82px;
}

.oneSixthElement {
    width: 60px;
}

.oneEightElement {
    width: 45px;
}

.oneThirdElement {
    width: 125px;
}

.twoThirdElement {
    width: 220px;
    height: 60px;
}

.halfElement {
    width: 180px;
    height: 56px;
}

.fullElement {
    width: 390px;
    height: 56px;
}

.elementContainer {
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -2px;
}

.labelElement {
    margin: 0px;
}

.labelHeader {
    margin: 0px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

.elementWrapper {
    border-style: solid;
    border-color: rgb(56, 56, 56);
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    width: 370px;
}

.colorBar {
    width: 160px; 
    height: 16px;
    margin-top: 10px; 
    margin-left: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.colorPicker {
    background-color:rgb(210, 210, 210);
    padding: 2px;
}

.colorPickerWrapper {
    position: absolute;
    margin-left: 190px;
    margin-top: -11px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.closeColorPicker {
    margin-left: 2px;
    height: 20px;
    width: 20px;
    background-color: rgb(220, 220, 220);
    border-radius: 30px;
}
.closeColorPicker::after {
    content: "\00d7";
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    font-family: Arial, sans-serif;
    padding-left: 3px;
  }

  .addbutton {
      height: 18px;
  }

  .buttonContainer {
    width: 18px;
    height: 18px;
    padding: 3px;
    border-radius: 10px;
  }
