.App {
  text-align: center;
}

.addPCClassWrapper {
  margin-bottom: 0px;
  margin-left: 10px;
  justify-content: center;
  display: inline-flex;
  width: calc(50% - 25px);
  min-height: 100px;
  max-height: 110px;
}

.addPCClassButtonContainer {
  height: 40px;
  width: 40px;
  align-self: center;
  border-radius: 20px;
  background-color: rgb(25, 180, 25);
}

.classWrapper {
  margin: auto;
  width: 880px;
  margin-bottom: 30px;
}

.dmgCalcGroup {
  display: flex;
  margin: 10px;
  width: 880px;
  height:auto;
  flex-wrap: wrap;
}

.portalButton {
  position: absolute;
  height: 20px;
  width: 20px;
  margin: 0px;
  padding: 0px;
  top: 10px;
  margin-left: -15px;
}
.portalButton .MuiButton-root {
  min-width: 0px;
}

.popoutImage {
  width: 20px;
  height: 20px;
}