.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.addPCClassWrapper {
  margin-bottom: 0px;
  margin-left: 10px;
  justify-content: center;
  display: inline-flex;
  width: calc(50% - 25px);
  min-height: 100px;
}

.addPCClassButtonContainer {
  height: 40px;
  width: 40px;
  align-self: center;
  border-radius: 20px;
  background-color: rgb(25, 180, 25);
}

.classWrapper {
  margin: auto;
  width: 880px;
  margin-bottom: 30px;
}

.dmgCalcRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 880px;
}

.dmgCalcGroup {
  display: flex;
  margin: 10px;
  width: 880px;
  height:auto;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}